<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Database Maintenace </title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<h3>Welcome to Bughound</h3>
		<ul>
			<li><a href='areas/addEditAreas.php'>Edit/Add Areas</a></li>
			<li><a href='programs/addProgramForm.php'>Add Programs</a></li>
			<li><a href='programs/viewPrograms.php'>Edit Programs</a></li>
			<li><a href='employees/addEmployeeForm.php'>Add Employees</a></li>
			<li><a href='employees/viewEmployees.php'>Edit Employees</a></li>
			<li><a href='export/exportForm.php'>Export Areas</a></li>
		</ul>
		
		<button type='button' >cancel</button>
		
	</body>
	
</html>
