<html>
	<head>
		<meta charset="UTF-8">
		<title>Bughound New Bug Page</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		<h3>New Bug report entry page</h3>
		<form>
		<label>Program</label>
		<select id=''>
			<!-- need to retrieve data from program table --> 
			<option value ='bughound-1-1'>bughound 1</option>
		</select>
		<label> Report Type</label>
		<select id='reportType'>
			<option>Design Issue</option>
			<option>Coding Error</option>
			<option>Suggestion</option>
			<option>Documentation</option>
			<option>Hardware</option>
			<option>Query</option>
		</select>
		<label>Severity</label>
		<select id='severity'>
			<option>Serious</option>
			<option>Fatal</option>
			<option>Minor</option>
		</select>
		<p>
		<label>Problem Summary</label>
		<input type='text' name='prob_summary'/>
		<label>Reproducible? </label>
		<select id='reproducible'>
			<option>Yes</option>
			<option>No</option>
		</select>
		</p>
		<p>
			<label>Problem</label>
			<input type='text' name='problem'/>
		</p>
		<p>
			<label>Reported By</label>
			<!-- extract from the database --> 
			<select id="assigner">
			</select>
			<label>Date</label>
			<input type='text' id='date' />
		</p>
		<hr/>
		<p>
			<label> Functional Area</label>
			<select id='functional_area'>
				<option></option>
			</select>
			<label>Assigned To </label>
			<select id='assignee'>
			<!-- extract to the database -->
				<option></option>
			</select>
		</p>
		<p>
			<label>Comments</label>
			<input type='text' name='comment'/>
		</p>
		<p>
			<label>Status</label>
			<select id='status'>
				<option>Open</option>
				<option>Closed or Open</option>
				<option>Closed</option>
				<option>Resolved</option>
			</select>
			
			<label>Priority</label>
			<select id='priority'>
				<option></option>
				<option>Fix immediately</option>
				<option>Fix as soon as possible</option>
				<option>Fix before next milestone</option>
				<option>Fix before release</option>
				<option>Fix if possible</option>
				<option>Optional</option>
			</select>
			<label>Resolution</label>
			<select>
				<option></option>
				<option>Pending</option>
				<option>Fixed</option>
				<option>Irreproducible</option>
				<option>Deferred</option>
				<option>As designed</option>
				<option>Withdrawal by reporter</option>
				<option>Need more info</option>
				<option>Disagree with suggestion</option>
				<option>Duplicate</option>
			</select>
			<label>Resolution Version</label>
			<select>
			</select>
		</p>
		<p>
			<label>Resolved By</label>
			<select>
				<option></option>
			</select>
			<label>Date</label>
			<label>Tested by</label>
			<select>
				<option></option>
			</select>
			<label>Date</label>
			<label>Treat as </label>
		</p>
		<p>
			<button type='button'>submit</button>
			<button type='button'>reset</button>
			<button type='button'>cancel</button>
		</p>
		</form>
		
	</body>
	
</html>